{
   "extends": ["@nyxb"],
   "rules": {
     "react/no-unescaped-entities": 0,
     "array-callback-return": 0,
     "no-console": 0,
     "no-new": 0,
     "no-mixed-operators": 0,
     "prefer-rest-params": 0,
     "@typescript-eslint/no-require-imports": 0,
     "@typescript-eslint/no-var-requires": 0
   }
}
